In [ ]:
len(mpg)

In [ ]:
mpg[0].keys()

In [ ]:
sum(float(d['cty']) for d in mpg) / len(mpg)

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

In [ ]:
cylinders= set(d['cyl'] for d in mpg)
cylinders

In [ ]:
CtyMPGbyCyl = []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMPGbyCyl.append((c, summpg / cyltypecount))
CtyMPGbyCyl.sort(key=lambda x: x[0])
CtyMPGbyCyl

In [ ]:
vehicleclass= set(d['class'] for d in mpg)
vehicleclass

In [ ]:
HwyMPGbyClass = []
for v in vehicleclass:
    summpg = 0
    classtypecount = 0
    for d in mpg:
        if d['class'] == v:
            summpg += float(d['hwy'])
            classtypecount += 1
    
HwyMPGbyClass.sort(key=lambda x: x[1])
HwyMPGbyClass

# Python dates and times

In [ ]:
import datetime as dt
import time as tm

In [ ]:
tm.time()

In [ ]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

In [ ]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

In [ ]:
delta=dt.timedelta(days=100)
delta

In [ ]:
today = dt.date.today()

In [ ]:
today-delta

In [ ]:
today > today-delta

# Object Oriented Programming in Python: Objects and map ()

In [ ]:
class Person: 
    department = "School of Information"
    
    def set_name (self, new_name):
        self.name = new_name
    def set_location (self, new_location):
        self.location = new_location

In [ ]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

In [ ]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map (min, store1, store2)
cheapest

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
person = Person()
 
def split_title_and_name(person):
    title = person.split(' ')[0]
    lastname = person.split(' ')[-1]
    return title + ' ' + lastname 

list(map(split_title_and_name, people))

# Lambda and List Comprehensions

In [ ]:
my_function = lambda a, b, c : a + b

In [ ]:
my_function(1,2,3)

In [ ]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

In [ ]:
my_list = []
for number in range(0, 1000):
    if number %2 == 0:
        my_list.append(number)
my_list

In [ ]:
my_list = [number for number in range(0,1000) if number %2 ==0]
my_list

In [ ]:
def times_tables():
    lst = []
    for i  in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst
times_tables()

In [ ]:
lst = [i*j for i in range(10) for j in range(10)]
lst

In [ ]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

lst = [lowercase[i]+lowercase[j]+digits[k]+digits[l] 
       for i in range(26) for j in range(26) for k in range(0,9) for l in range (0,9)]
lst

In [ ]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
for i in range(26):
    print(lowercase[i])

In [ ]:
#more elegantly
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'
correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

# Numerical Python (NumPy)

## Creating arrays

In [ ]:
import numpy as np

In [ ]:
myList = [1, 2, 3]
x = np.array(myList)
x

In [ ]:
y = np.array([4,5,6])
y

In [ ]:
m = np.array([[7,8,9], [10,11,12]])
m

In [ ]:
m.shape

In [ ]:
n = np.arange(0,30,2)
n

In [ ]:
n = n.reshape(3,5)
n

In [ ]:
o = np.linspace(0,4,9)
o

In [ ]:
o.resize(3,3)
o

In [ ]:
np.ones((3,2))

In [ ]:
np.zeros((2,3))

In [ ]:
np.eye(3)

In [ ]:
np.diag(x)

In [ ]:
np.array([1,2,3]*3)

In [ ]:
np.repeat([1,2,3], 3)

In [ ]:
p = np.ones((2,3), int)
p

In [ ]:
np.vstack((p, 2*p))

In [ ]:
np.hstack((p, 2*p))

## Array Operations

In [ ]:
print (x + y)
print (x - y)

In [ ]:
print (x * y)
print (x / y)

In [ ]:
print (x**2)

In [ ]:
x.dot(y) #gives dot product  1*4 + 2*5 + 3*6

In [ ]:
z = np.array([y, y**2])
z

In [ ]:
z.shape

In [ ]:
z.T

In [ ]:
z.shape

In [ ]:
z.T.shape

In [ ]:
zz = z.T
zz.shape

In [ ]:
z.dtype

In [ ]:
z = z.astype('f')

In [ ]:
z.dtype

## Math Functions

In [46]:
a = np.array([-4, -2, 1, 3, 5])

In [ ]:
a.sum()

In [47]:
a.max()

5

In [ ]:
a.min()

In [ ]:
a.mean()

In [ ]:
a.std()

In [48]:
a.argmax()

4

In [ ]:
a.argmin()

## Indexing / Slicing

In [ ]:
s = np.arange(13)**2
s

In [ ]:
s[0], s[4], s[-1]

In [ ]:
s[0:3]

In [ ]:
s[1:5]

In [ ]:
s[-4:]

In [ ]:
s[-5::-2]

In [ ]:
r = np.arange(36)
r

In [ ]:
r.resize(6,6)
r

In [ ]:
r[2,2]

In [ ]:
r[3,3:6]

In [ ]:
r[2, -1]

In [ ]:
r[-1,2]

In [ ]:
r[r<30]
r

## Copying Data

In [ ]:
r2 = r[:3, :3] 
#Everything done to r2 is also done to r when copied this way!!!
r2

In [ ]:
r2[:] = 0
r2

In [ ]:
r

In [ ]:
r_copy = r.copy()
r_copy

In [ ]:
r_copy [:] = 10
print(r_copy, '\n')
print(r)

In [ ]:
old = np.array([[1, 1, 1],
                [1, 1, 1]])

new = old
new[0, :2] = 0

print(old)

In [ ]:
old = np.array([[1, 1, 1],
                [1, 1, 1]])

new = old.copy()
new[:, 0] = 0

print(old)

## Iterating Over Arrays

In [ ]:
test = np.random.randint(0, 10, (4,3))
test

In [ ]:
for row in test:
    print(row)

In [ ]:
for i in range(len(test)):
    print(test[i])

In [ ]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

In [ ]:
test2 = test**2
test2

In [ ]:
test

In [ ]:
for i, j in zip(test, test2):
    print(i, '+', j, '=', i+j )

In [ ]:
['a', 'b', 'c'] + [1, 2, 3]

In [ ]:
print(r)

In [ ]:
r[0:6,::-7]

In [ ]:
r.reshape(36)[::7]

In [ ]:
r[::2,::2]

In [ ]:
r[2:4,2:4]

# The Series Data Structure

In [35]:
import pandas as pd
pd.Series?

In [2]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [3]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [4]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [6]:
import numpy as np
np.nan == None

False

In [7]:
np.nan == np.nan

False

In [8]:
np.isnan(np.nan)

True

In [9]:
sports = {"Archery" : "Bhutan",
         "Golf" : "Scotland",
         "Sumo" : "Japan",
         "Taekwondo" : "South Korea"
         }
s = pd.Series(sports, index = ["Golf", "Sumo", "Hockey"] )
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a series

In [10]:
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [11]:
s.iloc[3]

'South Korea'

In [12]:
s.loc['Golf']

'Scotland'

In [13]:
s[3]

'South Korea'

In [16]:
s['Golf']

'Scotland'

In [15]:
s[0]

'Bhutan'

In [17]:
sports = {99 : 'Bhutan',
         100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [18]:
s[0] #no index with zero value, iloc must be called explicilty

KeyError: 0

In [19]:
s.iloc[0]

'Bhutan'

In [21]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [24]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [23]:
import numpy as np
total = np.sum(s)
print(total)

324.0

In [25]:
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    140
1    522
2    160
3    746
4     67
dtype: int32

In [26]:
len(s)

10000

In [27]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.6 ms ± 220 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [28]:
%%timeit -n 100
summary = np.sum(s)

139 µs ± 20.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
s+=2
s.head()

0    144
1    526
2    164
3    750
4     71
dtype: int32

In [31]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    146
1    528
2    166
3    752
4     73
dtype: int32

In [32]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000, 10000))
for label, value in s.iteritems():
    s.loc[label] = value+2

976 ms ± 53.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [33]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s+=2

423 µs ± 29.2 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [38]:
import pandas as pd
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [39]:
original_sports = pd.Series ({'Archery' : 'Bhutan',
                              'Golf' : 'Scotland',
                             'Sumo' : 'Japan',
                             'Taekwondo' : 'South Korea'})
cricket_loving_countries = pd.Series(['Australia', 
                                      'Barbados',
                                     'Pakistan',
                                     'England'], 
                                    index = ['Cricket',
                                            'Cricket',
                                            'Cricket',
                                            'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [40]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [41]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [42]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object