# Python import and work with CSV files

In [3]:
import csv

%precision 2

with open('C:/Users/MissBleu/python/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

In [4]:
len(mpg)

234

In [7]:
mpg[0].keys()

dict_keys(['', 'drv', 'manufacturer', 'trans', 'displ', 'model', 'cyl', 'fl', 'class', 'cty', 'hwy', 'year'])

In [9]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [10]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [12]:
cylinders= set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [16]:
CtyMPGbyCyl = []
for c in cylinders:
    summpg = 0
    cyltypecount = 0
    for d in mpg:
        if d['cyl'] == c:
            summpg += float(d['cty'])
            cyltypecount += 1
    CtyMPGbyCyl.append((c, summpg / cyltypecount))
CtyMPGbyCyl.sort(key=lambda x: x[0])
CtyMPGbyCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [17]:
vehicleclass= set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [22]:
HwyMPGbyClass = []
for v in vehicleclass:
    summpg = 0
    classtypecount = 0
    for d in mpg:
        if d['class'] == v:
            summpg += float(d['hwy'])
            classtypecount += 1
    
HwyMPGbyClass.sort(key=lambda x: x[1])
HwyMPGbyClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

# Python dates and times

In [3]:
import datetime as dt
import time as tm

In [4]:
tm.time()

1513722243.0234518

In [5]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 12, 19, 15, 24, 3, 689148)

In [6]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2017, 12, 19, 15, 24, 3)

In [7]:
delta=dt.timedelta(days=100)
delta

datetime.timedelta(100)

In [8]:
today = dt.date.today()

In [9]:
today-delta

datetime.date(2017, 9, 10)

In [10]:
today > today-delta

True

# Object Oriented Programming in Python: Objects and map ()

In [13]:
class Person: 
    department = "School of Information"
    
    def set_name (self, new_name):
        self.name = new_name
    def set_location (self, new_location):
        self.location = new_location

In [24]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [16]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map (min, store1, store2)
cheapest

In [70]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
person = Person()
 
def split_title_and_name(person):
    title = person.split(' ')[0]
    lastname = person.split(' ')[-1]
    return title + ' ' + lastname 

list(map(split_title_and_name, people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']